body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.nfl-stats-banner-home {
    background-color: #158cba;
}
.content-banner{
    text-align:center;
    padding:50px;
}
.content-banner h1{
    color:aliceblue;
    font-weight:bold;
    font-size:50px;
}
.content-banner p{
    color:#fff;
    font-size: 30px;
}
.content-banner-buttons a{
    font-size: 24px;
    padding: 28px;
}
.top-para-home {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.highlight{
    background-color: yellowgreen;
}
.code-container {
    text-align: left;
}
.email-button{
    position:fixed;
    right:50px;
    bottom:50px;
}
.email-button a {
    display: block;
    padding: 20px 15px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.glyphicon {
    font-size: 30px;
}